<p id="notice"><%= notice %></p>
<p>
  <strong>Country:</strong>
  <%= @year.country.name %>
</p>

<p>
  <strong>2000:</strong>
  <%= @year.YR2000 %>
</p>

<p>
  <strong>2001:</strong>
  <%= @year.YR2001 %>
</p>

<p>
  <strong>2002:</strong>
  <%= @year.YR2002 %>
</p>

<p>
  <strong>2003:</strong>
  <%= @year.YR2003 %>
</p>

<p>
  <strong>2004:</strong>
  <%= @year.YR2004 %>
</p>

<p>
  <strong>2005:</strong>
  <%= @year.YR2005 %>
</p>

<p>
  <strong>2006:</strong>
  <%= @year.YR2006 %>
</p>

<p>
  <strong>2007:</strong>
  <%= @year.YR2007 %>
</p>

<p>
  <strong>2008:</strong>
  <%= @year.YR2008 %>
</p>

<p>
  <strong>2009:</strong>
  <%= @year.YR2009 %>
</p>

<p>
  <strong>2010:</strong>
  <%= @year.YR2010 %>
</p>

<p>
  <strong>2011:</strong>
  <%= @year.YR2011 %>
</p>

<p>
  <strong>2012:</strong>
  <%= @year.YR2012 %>
</p>

<p>
  <strong>2013:</strong>
  <%= @year.YR2013 %>
</p>

<p>
  <strong>2014:</strong>
  <%= @year.YR2014 %>
</p>

<p>
  <strong>2015:</strong>
  <%= @year.YR2015 %>
</p>

<p>
  <strong>2016:</strong>
  <%= @year.YR2016 %>
</p>

<p>
  <strong>2017:</strong>
  <%= @year.YR2017 %>
</p>

<p>
  <strong>2018:</strong>
  <%= @year.YR2018 %>
</p>

<p>
  <strong>2019:</strong>
  <%= @year.YR2019 %>
</p>

<%= link_to 'Edit', edit_year_path(@year) %> |
<%= link_to 'Back', years_path %>
