<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>

<h1 class = 'title'><em><%= @years.country.name %></em></h1>

<%= link_to "JSON Version", year_path(@years, 'json') %>
<br>
<div class="container-fluid">
<div id="mapid"></div>
</div>

<div class="container-fluid">
<p><em>If the chart does not show please refresh the page</em></p>
<br>

<div id="container" style="width:100%;height:400px;"></div>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded',function(){
var myChart = Highcharts.chart('container',{
chart: {
type: 'column'
},
title: {
text: '<%= @years.country.name %> GDP growth'
},
xAxis: {
categories: ['YR2000', 'YR2001', 'YR2002', 'YR2003', 'YR2004', 'YR2005', 'YR2006', 'YR2007', 'YR2008', 'YR2009', 'YR2010', 'YR2011', 'YR2012', 'YR2013', 'YR2014', 'YR2015', 'YR2016', 'YR2017', 'YR2018', 'YR2019']
},
yAxis: {
title: {
text: 'GDP growth'
}
},
series: [{

name: '<%= @years.country.name %>',
data: <%= raw @year_values %>
}]
});
});

var mymap = L.map('mapid').setView([<%= @years.country.lattitude %>, <%= @years.country.longitude %>], 5);
L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 10,
    id: 'mapbox.satellite',
    accessToken: 'pk.eyJ1IjoianBhbmRkIiwiYSI6ImNrZ3l4Nm91ZDBoeG0zMHF2bGd2a2sycGMifQ.MbT2gOUkhTMCIVDp7_twmA'
}).addTo(mymap);
var marker = L.marker([<%= @years.country.lattitude %>, <%= @years.country.longitude %>]).addTo(mymap);

</script>
<p id="notice"><%= notice %></p>
<p>
  <strong>Country:</strong>
  <%= @year.country.name %>
</p>

<p>
  <strong>2000:</strong>
  <%= @year.YR2000 %>
</p>

<p>
  <strong>2001:</strong>
  <%= @year.YR2001 %>
</p>

<p>
  <strong>2002:</strong>
  <%= @year.YR2002 %>
</p>

<p>
  <strong>2003:</strong>
  <%= @year.YR2003 %>
</p>

<p>
  <strong>2004:</strong>
  <%= @year.YR2004 %>
</p>

<p>
  <strong>2005:</strong>
  <%= @year.YR2005 %>
</p>

<p>
  <strong>2006:</strong>
  <%= @year.YR2006 %>
</p>

<p>
  <strong>2007:</strong>
  <%= @year.YR2007 %>
</p>

<p>
  <strong>2008:</strong>
  <%= @year.YR2008 %>
</p>

<p>
  <strong>2009:</strong>
  <%= @year.YR2009 %>
</p>

<p>
  <strong>2010:</strong>
  <%= @year.YR2010 %>
</p>

<p>
  <strong>2011:</strong>
  <%= @year.YR2011 %>
</p>

<p>
  <strong>2012:</strong>
  <%= @year.YR2012 %>
</p>

<p>
  <strong>2013:</strong>
  <%= @year.YR2013 %>
</p>

<p>
  <strong>2014:</strong>
  <%= @year.YR2014 %>
</p>

<p>
  <strong>2015:</strong>
  <%= @year.YR2015 %>
</p>

<p>
  <strong>2016:</strong>
  <%= @year.YR2016 %>
</p>

<p>
  <strong>2017:</strong>
  <%= @year.YR2017 %>
</p>

<p>
  <strong>2018:</strong>
  <%= @year.YR2018 %>
</p>

<p>
  <strong>2019:</strong>
  <%= @year.YR2019 %>
</p>


<%= link_to 'Edit', edit_year_path(@year) %> |
<%= link_to 'Back', years_path %>
</div>
