<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @year.country_id %>
</p>

<p>
  <strong>Yr2000:</strong>
  <%= @year.YR2000 %>
</p>

<p>
  <strong>Yr2001:</strong>
  <%= @year.YR2001 %>
</p>

<p>
  <strong>Yr2002:</strong>
  <%= @year.YR2002 %>
</p>

<p>
  <strong>Yr2003:</strong>
  <%= @year.YR2003 %>
</p>

<p>
  <strong>Yr2004:</strong>
  <%= @year.YR2004 %>
</p>

<p>
  <strong>Yr2005:</strong>
  <%= @year.YR2005 %>
</p>

<p>
  <strong>Yr2006:</strong>
  <%= @year.YR2006 %>
</p>

<p>
  <strong>Yr2007:</strong>
  <%= @year.YR2007 %>
</p>

<p>
  <strong>Yr2008:</strong>
  <%= @year.YR2008 %>
</p>

<p>
  <strong>Yr2009:</strong>
  <%= @year.YR2009 %>
</p>

<p>
  <strong>Yr2010:</strong>
  <%= @year.YR2010 %>
</p>

<p>
  <strong>Yr2011:</strong>
  <%= @year.YR2011 %>
</p>

<p>
  <strong>Yr2012:</strong>
  <%= @year.YR2012 %>
</p>

<p>
  <strong>Yr2013:</strong>
  <%= @year.YR2013 %>
</p>

<p>
  <strong>Yr2014:</strong>
  <%= @year.YR2014 %>
</p>

<p>
  <strong>Yr2015:</strong>
  <%= @year.YR2015 %>
</p>

<p>
  <strong>Yr2016:</strong>
  <%= @year.YR2016 %>
</p>

<p>
  <strong>Yr2017:</strong>
  <%= @year.YR2017 %>
</p>

<p>
  <strong>Yr2018:</strong>
  <%= @year.YR2018 %>
</p>

<p>
  <strong>Yr2019:</strong>
  <%= @year.YR2019 %>
</p>

<%= link_to 'Edit', edit_year_path(@year) %> |
<%= link_to 'Back', years_path %>
