<<<<<<< HEAD
<%= image_tag("logo3.png") %>
<%= image_tag("logo5.png") %>

<p>
   <%=link_to 'Find Countries', countries_path %> |
   <%=link_to 'Find Years', years_path %>
</p>
=======
<%= image_tag("logo3.png",  :alt =>"World finance of countries") %>
<%= image_tag("logo5.png",  :alt =>"World coSuntry economy status of Countries") %>
>>>>>>> 9a3c7b67c9a7eebf495bb82a353a32a832e5edb2
