<!DOCTYPE html>
<html>
  <head>
    <title>DanJonMaryAwaadTeam2020</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<<<<<<< HEAD
      
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
     <%= render :partial=>"layouts/menu" %> 
=======


  </head>

  <body>
    <%= render :partial=>'layouts/menu' %>
>>>>>>> 9a3c7b67c9a7eebf495bb82a353a32a832e5edb2
    <%= yield %>
  </body>
</html>
